<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-item lines = "none">
      <ion-label style = "font-weight: 800; font-size:2em">
        Today
        <p style="font-weight: 400; color:dimgray">
          {{today | date:'fullDate'}}
        </p>
      </ion-label>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- To do list -->
  <ion-card *ngFor="let item of todoList" class="ion-margin">
    <ion-card-header>
      <!-- Set colour depending on itemPriority variable -->
      <ion-card-subtitle [style.color]= "item.itemPriority === 'high' ? 'red' : (item.itemPriority === 'low' ? 'green' : 'orange') " >
        {{item.itemCategory}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.itemPriority === 'high' " color="danger" name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'middle' " color="warning" name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'low' " color="success" name="ellipse" size="small"></ion-icon>
        <ion-label>{{item.itemName}}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <!-- doesn't show date properly -->
      <ion-label>Due{{item.itemDueDate | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>

      <ion-item>
        <ion-icon name="share-outline"></ion-icon>
        <p>Share</p>
      </ion-item>

      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Completed</p>
      </ion-item>

      <ion-item>
        <ion-icon name="trash-outline"></ion-icon>
        <p>Delete</p>
      </ion-item>

    </ion-row>

</ion-card>


   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <!-- Floating action button -->
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
