<ion-header>
  <ion-toolbar>
    <ion-title>To-do List</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Go to Page 4</ion-label>
      <ion-button fill="outline" slot="end" (click)="openPage4()">Page 4</ion-button>
    </ion-item>
    <ion-card-content>
      This button will send the user to page 4!!!
      How fun is that?
    </ion-card-content>


    
  </ion-card>
  <!-- Second card end -->

   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <!-- Floating action button -->
    <ion-fab-button >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
