<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <!-- Display today's date -->
    <ion-item lines = "none">
      <ion-label style = "font-weight: 800; font-size:2em">
        Today
        <p style="font-weight: 400; color:dimgray">
          {{today | date:'fullDate'}}
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

      <!-- First card start -->
    <ion-card color="light">
      <ion-item>
        <ion-icon name="close" slot="end"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Title</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
      <ion-card-content>
        <ion-textarea placeholder="This is your first note.">

        </ion-textarea>
       
      </ion-card-content>
    </ion-card>
    <!-- First card end -->



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="success">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>




   


</ion-content>
