<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <!--Menu from here-->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <!--To here-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="cards">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <!-- First card end -->
    <!-- Second card start -->
    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Go to Page 4</ion-label>
        <ion-button fill="outline" slot="end" (click)="openPage4()">Page 4</ion-button>
      </ion-item>
      <ion-card-content>
        This button will send the user to page 4!!!
        How fun is that?
      </ion-card-content>
    </ion-card>
    <!-- Second card end -->
    
  </div>


  
    
  
  <!-- <div id="container">  <!--ID is used for referencing in SCSS file-- 
    
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->



</ion-content>
