<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <!--Menu from here-->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <!--To here-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="cards">
    <!-- First card start -->
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Welcome to the Ultimate Planner app. Everything you need, in one place!
        This app features a to-do list, calendar with events, a timer and a diary.
        We promise that by using this app, you will be able to track your day to day life and be able to look back on things you've done with ease.
      </ion-card-content>
    </ion-card>
    <!-- First card end -->

    <!-- Second card start -->
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Tutorial</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <li>Press the menu button on the top left to navigate between pages.</li>
        <li>Need to make a shopping list? or have something to do? Go to the To-do List tab in the menu</li>
        
      </ion-card-content>
    </ion-card>
    <!-- Second card end -->
    
    
  </div>


  
    
  
  



</ion-content>
